<section class="login-main-wrapper">
    <div class="main-container">
        <div class="login-process">
            <div class="login-main-container">
                <div class="thankyou-wrapper">
                    <img src="../../../assets/images/thenk-you-calligraphic-phrase-white-background-3d-illustration_101266-12729-removebg-preview.png" alt="thanks" />
                    <p class="text-p">For booking with us, we will get in touch with you soon... </p>
                    <p class="text-p">Do you want to pay now?</p>
                    <button class="a" (click)="makepayment()">Pay</button>
                    <div class="clr"></div>
                  </div>
                  <div class="clr"></div>
              </div>
          </div>
          <div class="clr"></div>
      </div>
  </section>