<div class="container-full">
    <div class="socials">
        <div class="left">
            <h2>ANY QUESTIONS?</h2>
            <div class="contact">
                <p class="phone"><a href="tel:+17322092127"><i class="fa-solid fa-phone"></i> +1 (732) 209-2127</a></p>
                <p class="email"><a href="mailto:hakunamatatatour@gmail.com"><i class="fa-solid fa-envelope"></i>hakunamatatatour@gmail.com</a></p>
            </div>
            <div class="icons chat">
                <a href=""><i class="fa-brands fa-facebook-messenger"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-telegram"></i></a>
            </div>
        </div>
        <div class="right">
            <h2>STAY CONNECTED</h2>
            <div class="icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="footer-middle">
    <div class="lists">
        <div class="one">
            <ul class="ul">
                <li><a routerLink="/country">Home</a></li>
                <li><a routerLink="/experience">Countries</a></li>
                <li><a routerLink="/offers">Hotels</a></li>
                <li><a routerLink="/offers">Offers</a></li>
            </ul>
        </div>
        <div class="two">
            <ul class="ul">
                <li><a routerLink="/blog/blog-list">Blog</a></li>
                <li><a routerLink="/experience">Experiences</a></li>
                <li><a routerLink="/dining">Dining</a></li>
                <li><a routerLink="/sustainability/sustainability-list" >Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="subscribe">
        <form action="">
            <input type="text" placeholder="Subscribe to newsletter">
            <i class="fa-solid fa-play"></i>
        </form>
    </div>
</div>

<div class="footer-bottom">
    <div class="footer-detail">
        <div class="container cont">
            <p class="copyright">
                <span>© 2023 Hakuna Matata Hotels, Resorts & Spas</span>
            </p>
            <img class="img"src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/anantara/images/brandpage/homepage/gha_discovery_new_logo_143x24.png" alt="">
            <div class="joboy">
                <p>Powered by <a href="https://www.linkedin.com/in/job-nyambura/">The Alchemist</a></p>
            </div>
        </div>
    </div>
</div>
