<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel"  data-interval="9000" data-pause="false">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>
    
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="slide-content">
          <video webkit-playsinline id="bgvid" autoplay loop [muted]="true" >
            <source src="../../../assets/videos/four.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="item">
        <div class="slide-content">
          <video webkit-playsinline id="bgvid" autoplay loop [muted]="true" >
            <source src="../../../assets/videos/two.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="item">
        <div class="slide-content">
          <video webkit-playsinline id="bgvid" autoplay loop [muted]="true" >
            <source src="../../../assets/videos/three.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="item">
        <div class="slide-content">
          <video webkit-playsinline id="bgvid" autoplay loop [muted]="true" >
            <source src="../../../assets/videos/one.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="carousel-overlay">
      <div class='title'><img src="../../../assets/images/hakunamatata-removebg-preview.png" alt=""></div>
      <div class="description">Life Is A Journey</div>
    </div>
  </div>