<div class="container-full">
    <div class="cont">
        <p class="t-xs">We've got something special for you</p>
        <p class="cont-header">Special Offers</p>
        <div class="t-p">
            <p>Savour added luxuries – because you deserve the best. Save with lavish promotions – because we love to treat you. Select your next getaway and make it unforgettable with one of Hakuna Matata Tours’s special offers.</p>
        </div>
    </div>

    <div class="section--center-content">
        <div class="full-bg card">
            <div class="card-image image-fluid p-0 m-0">
                <img sizes="(max-width: 1440px) 100vw, 1440px" src="https://img.freepik.com/premium-photo/giraffes-african-savanna-sunset-serengeti-national-park-tanzania-africa-banner-format_135785-1392.jpg?w=826" alt="xxxxxxx" height="auto" width="100%">
            </div>
            <div class="card-img-overlay container--mw1140">
                <div class="section-headerr">
                    <p class="section-header__text">DREAM ESCAPES</p>
                </div>
                <div class="t-c-1">
                    <p class="p">Experience Hakuna Matata Tours with extraordinary offers curated for you.</p>
                </div>
                <div class="section-footer">
                    <a routerLink="/booking" class="btn btn-book">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section--ptm">
        <div class="contt">
            <div class="list">
                <div class="cont-flex col-md-4 col-sm-12" *ngFor="let offer of offer">
                    <div class="card--display" >
                        <div class="card-dis">
                            <div class="dis-img">
                                <a [routerLink]="['/offers/offer-details',offer.id]"><img src="{{offer.image}}" alt=""></a>
                            </div>
                            <div class="card-tex">
                                <p class="dis-name"><a [routerLink]="['/offers/offer-details',offer.id]">{{offer.name}}</a></p>
                                <p class="dis-location">{{offer.villa_name}}, {{offer.country_name}}</p>
                                <p class="static-list-price">FROM <span class="currency">KES</span> {{offer.old_price}}</p>
                                <p class="dis-desc"><a [routerLink]="['/offers/offer-details',offer.id]">{{offer.description}}</a></p>
                                <div class="static-list__extra-links">
                                    <a routerLink="/booking" class="btn btn-gold">Book Now</a>
                                    <a [routerLink]="['/offers/offer-details/',offer.id]" class="btn btn-ghost">See More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>