<div class="bark"></div>



<div class="card text-bg-dark">
    <img src="https://images.unsplash.com/photo-1566073771259-6a8506099945?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="card-img" alt="..." style="opacity:0.5">
    <div class="card-img-overlay">
        <p class="">Welcome to.</p>
        <h1 class="card-title">TRIP TO TRIP TOUR COMPANY</h1>
        <p class="card-text">EXPLORE.EXPERIENCE.ENJOY</p>
    </div>
</div>
<section class="course">
    <h1>About Trip to Trip Tour Company</h1>
    <p>Unveil the Hidden Gems: Unforgettable Tours Tailored Just for You!</p>

    <div class="course-col" style="background-color: #C38154;">
        <h3>Services</h3>
        <div class="service">
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2017/12/11/15/34/lion-3012515_1280.jpg" alt="Safaris">
            </div>
            <div class="half">
                <div class="service-text">
                    <h4>Safaris</h4>
                    <p>Embark on thrilling safari adventures to explore the wilderness and encounter exotic wildlife.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="half">
                <div class="service-text">
                    <h4>Airport and luxury Transfer safaris</h4>
                    <p>Experience seamless travel from the moment you arrive with our premier Tour company. We specialize in providing Top-notch airport transfers ensuring smooth transition to your destination.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2022/02/14/12/10/plane-7013022_1280.jpg" alt="Airport Transfer">
            </div>
        </div>
        <div class="service">
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2020/07/15/19/50/parachute-5408876_1280.jpg" alt="Excavations">
            </div>
            <div class="half">
                <div class="service-text">
                    <h4>Giraff Mana Tour and Parachuting</h4>
                    <p>Experience the thrill of the skies and majesty of the wildlife with our adrenaline-packed tour company. Dive into the exhilarating world of parachuting, where you'll feel the rush of free fall and enjoy breathtaking vies from above.
                    </p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="half">
                <div class="service-text">
                    <h4>Family Holidays</h4>
                    <p>Create unforgettable memories with your loved ones on our family-oriented holiday packages.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2017/08/08/15/37/family-2611748_1280.jpg" alt="Family Holidays">
            </div>
        </div>
        <div class="service">
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2017/08/08/00/37/still-2609682_1280.jpg" alt="Ticketing">
            </div>
            <div class="half">
                <div class="service-text">
                    <h4>Ticketing</h4>
                    <p>Let us handle your travel bookings and ensure a hassle-free journey with our ticketing services.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="half">
                <div class="service-text">
                    <h4>Luxury Safaris Transfer</h4>
                    <p>Indulge in opulence and luxury as we take you on a safari experience like no other.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2018/03/18/08/33/vip-area-3236038_1280.jpg" alt="Luxury Safaris Transfer">
            </div>
        </div>
        <div class="service">
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2018/10/09/16/25/horse-3735350_1280.jpg" alt="Chariots">
            </div>
            <div class="half">
                <div class="service-text">
                    <h4>Chariots</h4>
                    <p>Travel like royalty in our luxurious chariots and experience grandeur at its best.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="half">
                <div class="service-text">
                    <h4>Private Boat Services</h4>
                    <p>Cruise the tranquil waters with our private boat services and enjoy serenity and privacy.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2020/12/27/05/39/cabin-cruiser-5863060_1280.jpg" alt="Private Boat Services">
            </div>
        </div>
        <div class="service">
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2014/12/26/10/50/flame-580342_1280.jpg" alt="Charter Services">
            </div>
            <div class="half">
                <div class="service-text">
                    <h4>Charter Services</h4>
                    <p>Charter your own travel experience and tailor it to your preferences with our charter services.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="half">
                <div class="service-text">
                    <h4>Helicopter Tours</h4>
                    <p>Get a bird's-eye view of stunning landscapes and iconic landmarks with our helicopter tours.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2012/03/04/00/22/action-21892_1280.jpg" alt="Helicopter Tours">
            </div>
        </div>
        <div class="service">
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2019/04/01/14/41/hot-air-balloon-4095513_1280.jpg" alt="Hot Air Balloon Safaris">
            </div>
            <div class="half">
                <div class="service-text">
                    <h4>Hot Air Balloon Safaris</h4>
                    <p>Experience the thrill of floating above the wilderness in our hot air balloon safaris.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="half">
                <div class="service-text">
                    <h4>Private Car Hire</h4>
                    <p>Travel in comfort and style with our private car hire services for a personalized journey.</p>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
            <div class="half">
                <img src="https://cdn.pixabay.com/photo/2015/07/11/23/13/mercedes-benz-841465_1280.jpg" alt="Private Car Hire">
            </div>
        </div>
    </div>
</section>