<div class="container-full">
    <div class="cont">
        <p class="t-xs">GASTRONOMIC DELIGHTS AND EXOTIC FLAVOURS</p>
        <p class="cont-header">DINING</p>
        <div class="t-p">
            <p>Treat your tastebuds to a luxurious journey. From Champagne sparkle to aromatic spices to decadent finishes, Hakuna Matata Tours’s gourmet destinations invite you to celebrate the world’s most exquisite tastes.</p>
            <p>Explore our restaurants and culinary highlights and reserve a night to remember. Or plan your next exotic escape, with new tastes to explore throughout your stay.</p>
        </div>
    </div>
    <div class="section--light-grey">
        <div class="container--mw1440">
            <div class="list">
                <div class="has-border col-md-6 col-sm-12" *ngFor="let rest of restaurant">
                    <div class="static-list__item">
                        <div class="static-list__container">
                            <div class="static-list__image">
                                <img src="{{rest.image}}" alt="">
                                <div class="static-list__text">
                                    <p class="static-list__title"><a [routerLink]="['/dining/dining-details/',rest.id]">{{rest.catchy_phrase}}</a></p>
                                    <div class="static-list__location"><a [routerLink]="['/dining/dining-details/',rest.id]">{{rest.name}}</a></div>
                                    <p class="static-list__heading"><a [routerLink]="['/dining/dining-details/',rest.id]">{{rest.heading}}</a></p>
                                </div>
                            </div>
                            <div class="static-list__text-container">
                                <div class="static-list__content">
                                    <p class="time"><i class="fa-solid fa-clock"></i> {{rest.timeline}}</p>
                                    <div class="contact">
                                        <p class="static-list__icon"><i class="fa-solid fa-envelope"></i> <a href="mailto:{{rest.email}}">{{rest.email}}</a></p>
                                        <p class="static-list__icon"><i class="fa-solid fa-phone"></i> <a href="tel:{{rest.phone}}">{{rest.phone}}</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="static-links">
                                <a routerLink="/booking" class="btn-gold">make a reservation</a>
                                <a [routerLink]="['/dining/dining-details/',rest.id]"  class="btn-ghost">see more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>