<header>
  <div class="container">
    <div class="right col-lg-2 col-md-4 col-sm-4 book">
      <a  routerLink="/booking"  class="btn book-btn-nav">BOOK NOW</a>          
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 two">
      <div class="logo">
        <img src="../../../assets/images/hakunamatata-removebg-preview.png" alt="logo">
      </div>
    </div> 
    <div class="col-lg-6 col-md-4 col-sm-4 text-end three">
      <div class="menu-icon" [class.menu-icon-Class]="menu_icon_var" (click)="openMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu" [class.menuClass]="menuVar">
        <ul>
          <li><a class="nav-link active" routerLink="/country" routerLinkActive="active-link" ariaCurrentWhenActive="page">HOME</a></li>
          <li><a class="nav-link" routerLink="/offers" routerLinkActive="active-link" ariaCurrentWhenActive="page">OFFERS</a></li>
          <li><a class="nav-link" routerLink="/experience" routerLinkActive="active-link" ariaCurrentWhenActive="page">COUNTRIES</a></li>
          <li><a class="nav-link" routerLink="/dining" routerLinkActive="active-link" ariaCurrentWhenActive="page">DINING</a></li>
          <li><a class="nav-link" routerLink="/blog/blog-list" routerLinkActive="active-link" ariaCurrentWhenActive="page">BLOGS</a></li>
          <li><a class="nav-link" routerLink="/contact" routerLinkActive="active-link" ariaCurrentWhenActive="page">CONTACT US</a></li>
          <!-- <li><app-login-condition></app-login-condition></li> -->
        </ul>
      </div>
    </div> 
  </div>
</header>