.section--center-content {
    position: relative;
    color: #fff;
    background-color: #fafafa;
    margin-top: 9%;
}

.full-bg{
    min-height: 350px;
    height: 55vh;
    position: relative;
    overflow: hidden;
}

.full-bg>img{
    z-index: 0;
    font-family: object-fit\:cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.section--light-grey {
    background-color: #eee;
    position: relative;
}

.container--mw1320 {
    max-width: 1320px!important;
    position: relative!important;
    padding: 0 20px;
    margin: 0 auto;
}

.content-intro-complex {
    padding-bottom: 40px;
}

.section-header {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 40px 5px 0;
}

.sec-head{
    color: #FFC93C;
    display: block;
    margin: 0 auto 38px;
    text-align: center;
    max-width: 940px;
    
    font-size: 2.125em;
    font-weight: 100;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .02em;
}

.two{
    display: flex;
}

.image-col{
    margin-bottom: 1em;
}

.image-col>img{
    max-width: 90%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.text-col{
    max-width: 880px;
    width: 33.3333333333%;
}

.content-intro {
    min-height: 32px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
    display: flex;
    margin-top: 25px;
}

.static-list-price{
    font-size: 1.3em;
    display: block;
    margin-bottom: 10px;
    letter-spacing: .1em!important;
    
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 1em;
}

.currency{
    color: #FFC93C;
    font-size: 1.3em;
    border-bottom: 2px solid #FFC93C;
    margin-top: 7px;
    padding-right: 5px;
    padding-left: 5px;
    letter-spacing: 0.2;
}
            
.btn-buy {
    margin-left: 25%;
    margin-top: 5px;
}

.btn-buy>a{
    color: #fff!important;
    background-color: #FFC93C;
    min-width: 135px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: none;
    width: auto;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 9px 20px;
    border: 0;
    border-radius: 2px;
    transition: background-color .4s,top .1s,padding .4s;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.readmore{
    position: relative;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: .05em;
}

.complementary {
    width: 100%;
    border: 0;
    border-top: 0;
    padding: 8px 15px 0 0;
    font-size: .85em;
}

.features-special {
    font-size: .85em;
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    padding-right: 2em;
    margin-bottom: 0;
}

.three{
    padding: 20px 20%;
}

.includes{
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.5em;
    letter-spacing: .05em;
}

.includes:after {
    display: block;
    width: 116px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    content: "";
    background-color: #FFC93C;
}

.ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: .05em;
}

.four{
    margin: 0;
    padding: 20px 20%;
    background-color: #fff;
}

@media only screen and (max-width: 850px) {
    .two{
        display: block;
    }

    .text-col{
        width: 100%;
        padding: 0 40px;
    }

    .features-special {
        font-size: .85em;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding-right: 2em;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {
    .sec-head{
        color: #FFC93C;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 940px;
        
        font-size: 1em;
        font-weight: 100;
        line-height: 1.25;
        text-transform: uppercase;
        letter-spacing: .02em;
    }

    .text-col{
        width: 100%;
        padding: 0 5px;
    }

    .features-special {
        font-size: .85em;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding-right: 2em;
        margin-bottom: 0;
    }

    .static-list-price{
        font-size: 1.3em;
        display: block;
        margin-bottom: 10px;
        letter-spacing: .1em!important;
        
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .3em;
        font-size: 1em;
    }
    
    .btn-buy {
        margin-left: 5%;
        margin-top: 5px;
    }

    .three{
        padding: 20px 2%;
    }

    .four{
        padding: 20px 2%;
    }
}